# Eclipse
**/.classpath
**/.project
**/.settings/
 
# Intellij
**/.idea/
**/.iml
**/.iws
 
# Mac
.DS_Store
 
# Maven
**/log/
**/target/
**/maven-wrapper.jar
**/maven-wrapper.properties
**/HELP.md
**/mvnw
**/mvnw.cmd